<h1>About Me</h1>
<p> I have worked in managment and ownership for the past 20 years. 
  Now I am studing Full Stack coding. Looking to expand our future.</p>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Technologies I've worked with:
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li>HTML Coding</li>
    <li>JavaScript</li>
    <li>CSS Design</li>
    <li>TypeScript</li>
    <li>Angular</li>
    <li>...And More To Come</li>
  </ul>
</mat-expansion-panel>